default:
  suites:
    default:
      path: %paths.base%/features
      contexts: [Behat\GuzzleExtension\Context\GuzzleContext]
  extensions:
    Behat\GuzzleExtension:
      base_url: https://api.travis-ci.org
      service_descriptions: %paths.base%/config/service.json